body {
  height: 100vh;
  background-color: #338aff;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wraper {
  width: 900px;
  height: 400px;
  background-color: #d1baba;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 0;
}
span {
  font-size: 100px;
}

span:not(.delimiter) {
  width: 100px;
}

button {
  font-size: 50px;
  text-transform: uppercase;
  background-color: #8ce7d0;
  border-radius: 10px;
}
button:not(:nth-child(1)) {
  margin-left: 50px;
}

.buttons {
  justify-content: space-around;
}

.time {
  justify-content: space-between;
}
.delimiter {
  margin: 0 10px;
}
